body{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
h4{
    cursor: pointer;
}
p{
    display: none;
}

h1{
    font-size: 4.0625rem;
    font-family: 'Honk', system-ui;
}
h2{
    font-size: 2.5rem;
font-family: 'Workbench', sans-serif;
}